.class-icon {
  width: 40px;
  margin-bottom: 10px;
  -webkit-user-drag: none;
}
.champion-card {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  overflow: hidden;
}
.champion-page {
  max-width: 98%;
  margin: 0 auto;
  color: #fff;
}
.champion-info__skins-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  max-width: 30%;
  width: 100%;
  backdrop-filter: blur(3px);
  overflow: hidden;
}
.champion-card__image {
  width: 100%;
}
.champion-info__available-skins {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 5px;
  margin: 0 20px;
  height: 75%;
  box-sizing: border-box;
  padding-bottom: 40px;
  border-top: 1px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
}
.champion-info__skins-title {
  color: #fff;
  font-size: 30px;
  cursor: default;
  display: flex;
  align-items: center;
  user-select: none;
  margin: 20px 20px 10px 40px;
  box-sizing: border-box;
  height: 15%;
}
.champion-info__available-skins::-webkit-scrollbar {
  display: none;
}
.champion-info__skin {
  color: rgba(255, 255, 255, 0.3);
  min-height: 70px;
  padding: 5px 5px 5px 80px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
  margin-top: 30px;
  transition: color 0.3s linear;
}
.champion-info__skin-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5px, -5px);
  -webkit-user-drag: none;
}
.champion-info__skin_active {
  position: relative;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s linear;
}
.champion-info__skin_active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  animation: borders .3s linear forwards;
}
.champion-info__skin_active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  animation: borders .3s linear forwards;
}
.champion-info__skin:hover {
  color: rgba(255, 255, 255, 0.6);
}
.champion-info__skin_active:hover {
  color: #fff;
}
.champion-role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  margin-left: 30px;
}
.champion-role-container:first-child {
  margin-left: 0;
}
.champion-titles {
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  user-select: none;
  font-style: italic;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.champion__title {
  font-size: 90px;
  line-height: 90px;
  margin: 0;
  text-transform: uppercase;
}
.champion__subtitle {
  margin: 5px 0;
  text-transform: uppercase;
}
.champion-character-description {
  display: flex;
  flex-direction: row-reverse;
}
.champion-character-description__text {
  max-width: 40%;
  padding: 5%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  align-self: center;
}
.champion-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 5%;
}
.skills__description {
  min-height: 100px;
}
.champion-roles-box {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
}
@keyframes borders {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 30%;
    height: 40%;
  }
}
