.filter-button {
    height: 100%;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: .8rem;
    cursor: pointer;
    opacity: .6;
    position: relative;
}
.filter-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border-bottom: 3px solid rgb(208, 168, 92);
    opacity: 1;
    box-sizing: border-box;
    transition: all .3s linear;
}
.filter-button_active {
    opacity: 1;
}
.filter-button_active::after {
    width: 100%;
    left: 0;
}
.filter-button:hover {
    opacity: 1;
}
.filter-button:hover {
    opacity: 1;
}
.filter-button:hover::after {
    width: 30%;
    left: 35%;
}